

div.title, div.content{
    width: 800px;
    margin: auto;
}

div.title p, div.content p{
    float: left;
    border: 1px solid lightgrey;
    padding: 5px;
    margin: 0;
}

dv.content, div.rank {
    clear: both;
}
