
/**********************************************************
*  title :  header style
*  author : dodosdev@gmail.com
*  final date : 2024/10/24
**********************************************************/

header{
    width: 100%;
    height: 160px;
    margin: 0 auto; /*가운데 정렬*/
    border-bottom: 4px solid #fb4357;
}
.header-top, .header-bottom-content{ /* ',' 동일하게 적용*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    padding: 13px 0;
}


.header-top-logo{
    /* border: 1px solid blue; */
    position: relative;
    width: 320px;
}

.header-top-logo > a > img{
    width: 120px;
}
.header-top-logo > span{
    position: absolute;
    top:30px;
    left: 110px;
    letter-spacing: 3px; /*글자간 간격 조정*/
    color: var(--color-primary)
    font-weight: 500;
}

/* header-bottom 상단 대메뉴정렬 */
.header-top ul, .header-bottom ul{  /*메뉴리스트 ul에 flex적용*/
    /* border: 1px solid green; */
    display: flex;
    list-style-type: none;
    
}

.header-top ul li{
    /* background-color: aqua; */
    /* padding: 25px 10px; */
    margin-left: 35px; /*li icon간격*/
}
.header-top ul li a{
    /* background-color: aquamarine; */
    text-decoration: none;
    color: var(--color-primary);
    text-align: center;
}

.header-bottom dl{
    display: none;
}
.header-bottom{
    width: 100%;
    height: 40px;
    padding: 5px 0;
    border-top: 1px solid silver;
}
.header-bottom li{
    padding: 10px 25px;
}
.header-bottom li a{
    font-size: 16px;
    font-weight: 700;
    color: #222;
    text-decoration: none;
}
.header-bottom li a:hover{
    color: #fb4357;
}


.header-menu-icon{
    /* border: 1px solid red; */
    display: block;
    width: 46px;
    min-height: 55px;
    position: relative;
}
.header-menu-icon img{
    width: 36px;
    height: 36px;
    /* border: 1px solid green; */
}
.header-menu-icon span{
    width: 50px;
    height: 19px;
    font-size: 11.5px;
    /* border: 1px solid blue; */
    position: absolute;
    bottom: 0;
    left: -5px;
    font-weight: 600;
}

.header-top-card{
    margin-left: 100px;
    top: 10px;
}

.header-bottom-search{
    border-right: 1px solid silver ;
    border-left: 1px solid silver ;
    width: 250px;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}
.header-bottom-search input{
    width: 80%;
    border: none;
    padding: 5px;
}
/* header end */



/**********************************************************
*  title :  footer style
*  author : dodosdev@gmail.com
*  final date : 2024/10/24
**********************************************************/
footer{
    width: 100%;
    height: 420px;
    background-color: var(--color-footer-bg);
    margin-top: 60px;
}
.footer-content{
    width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
}

.footer-content-top{
    background-color: orange;
    height: 180px;
    /* padding: 50px 0; */
}

.footer-content-top img{
    margin-top: -60px;
}


div .footer-intro > ul{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    border-bottom: 1px solid var(--color-footer-line);
    margin-top: 30px;
}
.footer-intro > ul a{
    font-size: 12px;
    font-weight: bold;
    color: var(--color-primary);
    text-decoration: none;
}
.footer-intro > ul a:hover{
    text-decoration: underline;
}
.footer-intro > ul li:nth-child(8) a{
    color:var(--color-black);
    font-weight: 600;
    text-decoration: underline;
}
.footer-intro ~ p{
    color: var(--color-primary);
    font-size: 10px;
    font-weight: 600;
    padding: 3px 0;
}

.p {margin-top: 20px;}
.p2{margin-bottom: 20px;}



/**********************************************************
*  title :  content style
*  author : dodosdev@gmail.com
*  final date : 2024/10/25
**********************************************************/

.content,
.content-top,
.content-moviechart{
    width: 100%;
}

.content-top{
    background-color:#000;
}
.content-top iframe,
.content-moviechart > div,
.content-even-special{ /* 바로밑에있는 >*/
    width: 1000px;
    display: block;
    margin: 0 auto;
}
.content-moviechart{
    background-color: aliceblue;
    padding: 20px 0;
}

/* .content-moviechart-title{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
fcontent-moviechart-title
.content-moviechart-title span{
    font-size: 1.6em;f
    font-weight: 800;
    color: #222;
} */

/* 
공통적으로 적용되는 클래스는 직접 셀렉팅하는 경우 부모를 직관적으로 지정함
*/
.content-moviechart .content-title-style >  div{
    position: relative;
    /* border: 1px solid orangered; */
}

.content-title-style > div > span:first-child + span{
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: var(--color-);
    position: absolute;
    top: 5px;
    left: 45%;

}
.content-title-style h3{
    padding: 50px 0 15px;
}



.content-title-style > div > span:first-child{
    color: #222;
    text-align: center;

}
.content-title-style > div > span:last-child{
    color: #666;
}
.content-title-style > div > span:nth-child(2){
    border-left: 1px solid #d8d8d8;
    height: 20px;
    margin:0 10px;
}
.content-title-style > div > span:first-child + span{
    display: inline-block;
    width: 1px;
    height: 21px;
    line-height: 21px;
    color: #d8d8d8;
    background-color: #d8d8d8;
}

.content-title-style div:last-child button{
    font-size: 14px;
    color: #222;
    line-height: 1.429em;
    border: 1px solid #e2e2e2;
    border-radius: 15px;
}

/* 무비차트 상영예정작 텍스트 */
.content-moviechart .content-title-style > div:first-child{
    position: relative;
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
/* 무비트 | 중간라인 */
.content-moviechart .content-title-style > div > span:first-child + span{
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: silver;
    position:absolute;
    top: 10px;
    left: 42%;
}


/* 무비차트 상영예정작 리스트 */
.content-moviechart-list ul{
    /* border: 1px solid orchid; */
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.content-moviechart-list ul li{
    /* border: 1px solid blue; */
    padding: 15px 15px 0;
    text-align: center;
}
.content-moviechart-list ul li:first-child{
    /* border: 1px solid blue; */
    padding-left: 0px;
}
.content-moviechart-list ul li:last-child{
    /* border: 2px solid pink; */
    padding-right: 0px;
}
.content-moviechart-list ul li img{
    width: 170px;
    border-radius: 10px;
}
.content-moviechart-list ul li h5{
    text-align: center;
    padding: 5px 0;
    color: var(--color-primary);
}



/** 이벤트 섹션**/
.content-even-special section:first-child{
    /* border: 2px solid orangered; */
}



/** EVENT **/
/* .total-view-button{
    display: flex;
    justify-content: space-between;
    
} */


.total-view-button ul{list-style-type: none;}

section img{
    width: 310px;
    height: 207px;
    border-radius: 10px;
}

/* .total-view-button { 
    justify-content: space-between;
    padding: 10px 0;
    font-weight: 600;
    font-size: 18px;
    color: #222;f
    line-height: 1.444em;
}

.total-view-button li p:nth-child(){
    display: block;
    margin-top: 4px;
    font-size: 14px;
    color: #666;
    line-height: 1.429em;
}

.total-view-title{
    display: flex;
    justify-content: space-between;
}
 */

.content-top{
    background-color: #000;
    position: relative;
    top: -43px;
}

/* event */

.content-even-special {
    list-style-type: none;

}


.content-even-list{
    display: flex;
    /* border: 1px solid blue; */
    list-style-type:none;
    padding: 20px;
}
.content-even-list li{
    margin-right: 15px;
    
}

.content-even-list li p{
    padding: 5px;
}
.event-content-title{
    font-size: 18px;
    font-weight: 700;
    color: var(--color-primary);
    margin-top: 10px;
}
.event-content-title-date{
    font-size: 14px;
    font-weight: 600;
    color: var(--color-gray-222);
    margin-top: 10px;
}

/* 특별관 */
.special-event-list{
    display: flex;
    justify-content: space-between;

}
.special-event-list li{
    display: flex;
    justify-content: space-between;

}
.special-event-list ul{
    list-style-type:none;
    /* border: 1px solid red; */
    width:480px
}
.special-event-list ul li{
    border-bottom: 1px solid var(--color-gray-222);
    padding: 16px 20px;
    width:480px
}

.special-event-list ul li:hover{
    border: 3px solid black;
    border-radius: 10px;
}



.special-content-list ul li{
    border: 1px solid var(--color-gray-222);
    list-style-type: none;
    padding: 21px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.special-content-list ul li:first-child{
    border-top: 1px solid var(--color-gray-222);
}
.special-content-list ul li span:first-child {
    font-size: 1.2em;
    letter-spacing: 1px;
}

.special-content-list ul li span:last-child{
    display: inline-block;
    padding: 5px;
    background-color:var(--color-footer-bg);
    border-radius: 6px;
    font-size: 12px;
    color: var(--color-gray-222);
}
/* .special-content-list ul li:hover + li{
    border-top: 1px solid white;
} */




/* 패키지,영화관람권, 기프트카드 */
.package-content-list{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    margin: 6px 0 30px 0;
    padding-top: 50px;
}

.package-content-list h5{
    font-size: 20px;
}

.package-content-list img{
    width: 75px;
    height: 75px;
}
.package-title-font{
    font-size: 1.1em;
    font-weight: 600;
}
.package-title-button{
    padding: 7px 15px;
    font-size: 14px;
    color: #222;
    line-height: 1.429em;
    border: 1px solid #e2e2e2;
    border-radius: 15px;
}
.package-title-border{
    border: 1px solid silver;
    border-radius: 10px;
    padding: 20px;
    width: 320px;
}
.package-title-border > ul{
    /* border: 1px solid red; */
    list-style: none;
}
.package-title-border > ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


/* 공지사항, 앱다운로드 */
.sale-img img{
    width: 260px;
    height: 237px;
    padding-left: 50px;
}

.notice-content-list, .notice-content-list > div:first-child{ /* > 자식중의 첫째*/
    display: flex;
    /* border: 1px solid red; */
}


.notice-content-list{
    border-radius: 10px;
    padding: 50px 0;
}

.notice-content-border{
    border: 1px solid silver;
    border-radius: 8px;
    width: 750px;
    padding: 30px;
    font-size: 14px;

}
.notice-content-border span a, p{
    color: #222;


}

.notice-content-border div{
    margin-top:15px ;

}
.notice-content-border div > p b{
    font-size: 16px;
    font-weight: 600;

}
.notice-content-border img[alt="QR"]{
    width: 70px;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    margin: 10px;
}

.qr-img{
    text-align: center;
    border-left: 1px solid rgb(221, 221, 221);
    font-size: 12px;
    padding-left: 20px;
}

.qr-img h3{
    display: block;
    font-weight: 800;
    font-size: 20px;
    color: #222;
    line-height: 1.500em;
}

.notice-content-border div:nth-child(3){
    border-width: 457px;
    text-align: left;
    width: 100%;
    margin-top: 5px;
    color: #222;
    line-height: 1.250em;
}







/**********************************************************
*  title :  login form style
*  author : dodosdev@gmail.com
*  final date : 2024/10/28
**********************************************************/


.login-form form{
    /* border: 1px solid green; */
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: rgb(137, 137, 137);
}

.login-form ul{
    border: 1px solid blue;
    list-style-type: none;
    width: 420px;
}
.login-form ul li{
    padding: 10px;
}

.login-form input:not(input[type="checkbox"]),/*input에서 체크박스 제외하고 적용*/
.login-form button{
    width: 263px;
    padding: 10px;
}


.login-form input[type="text"],
.login-form input[type="password"]{
    border: 1px solid blue;
    padding-left: 20px;
}
.login-form button{
    outline-color:var(--color-button);
    outline-style: solid;
    outline-width:1px;
}

.login-form ul li:nth-child(5){
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10pt;
}



.login-form ul > li:nth-child(5) div:last-child > :nth-child(2){
    /* border: 1px solid green; */
    padding-right:10px ;
    /* width: 200px;
    display: flex;
    justify-content: space-between; */
}
.login-form ul > li:nth-child(5) div:last-child > a{
    color: var(--color-login-font);
    font-weight: 700;
}





