ul.dwitter-menu {
    list-style-type: none;
    display: flex;
    gap: 10;
    justify-content: right;
}

.dwitter-menu li {
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 12px;
}

.dwitter-container{
    width: 1000px;
    margin: auto;
    background-color: lightcyan;
}


.dwitter {
    width: 95%;
    margin: auto;
    padding: 10px;
    /* border: 1px solid lightgray; */
    border-radius: 0.5rem;
    margin-bottom: 10px;
    display: flex;
    background-color: #fff;
}

.dwitter-image {
    /* float: left; */
}

.dwitter-image img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.title {
    text-indent: 20px;
    padding: 20px;
}

.content {
    height: 50px;
    text-indent: 20px;
    margin-top: 5px;
}